@import './fonts.scss';

$footer-backgroud-color: #1d6da8;
$footer-font-family: 'PT Sans', sans-serif;
$footer-font-color: #fff;
$footer-btn-border-color: rgba(245, 245, 245, 0.5);

.footer {
  display: flex;
  position: relative;
  height: max-content;
  min-height: 75px;
  box-sizing: border-box;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  background-color: $footer-backgroud-color;
  color: $footer-font-color;
  font-family: $footer-font-family;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

.container {
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
  width: 1250px;
}

.footer a {
  text-decoration: none;
}

.divider {
  border-left: 1px solid $footer-btn-border-color;
}

.footer-left-div {
  display: inline-flex;
  flex-direction: row;
  text-align: left;
}

.footer-right-div {
  display: inline-flex;
  flex-direction: row;
  margin-left: 32px;
  text-align: right;
}

.footer-right-div > div:nth-child(1) {
  margin-right: 42px;
}

.footer-right-div > div:nth-child(3) {
  margin-left: 42px;
}

a {
  display: inline;
  color: $footer-font-color;
}

@media screen and (max-width: 1325px) {
  .container {
    width: 94%;
  }
}

@media screen and (max-width: 985px) {
  .footer-right-div > div:nth-child(1) {
    margin-right: 24px;
  }
  
  .footer-right-div > div:nth-child(3) {
    margin-left: 24px;
  }
}
