@font-face {
  font-family: "PTSans-Regular";
  src: url('/src/fonts/PTSans-Regular.ttf');
}

$footer-backgroud-color: #1d6da8;
$footer-font-family: "PTSans-Regular";
$footer-font-color: #fff;
$footer-btn-border-color: rgba(245, 245, 245, 0.5);

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-backgroud-color;
  color: $footer-font-color;
  font-family: $footer-font-family;
  font-size: 14px;
  height: 75px;
  position: relative;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1250px;
}

.footer a {
  text-decoration: none;
}

.divider {
  border-left: 1px solid #f5f5f5;
}

.footer-right-div {
  display: inline-flex;
  flex-direction: row;
  height: 36px;
  margin-left: 16px;
}

.footer-right-div>div:nth-child(1) {
  margin-right: 42px;
}

.footer-right-div>div:nth-child(3) {
  margin-left: 42px;
}

.text-right {
  text-align: right;
}

a {
  display: inline;
  color: $footer-font-color;
}

br {
  line-height: 20px;
}
