@import './fonts.scss';

$header-backgroud-color: #1d6da8;
$header-font-family: 'PT Sans', sans-serif;
$header-font-color: #fff;
$header-btn-border-color: rgba(245, 245, 245, 0.5);

.header {
  display: block;
  position: relative;
  height: 60px;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: $header-backgroud-color;
  font-family: $header-font-family;
  font-weight: normal;
  font-style: normal;
	font-size: 14px;
  line-height: normal;
  text-align: left;
  z-index: 150;
}
