@import "/src/styles/header.scss";

.header {
  .left-part {
    display: inline-flex;
    flex-direction: row;
    float: left;
    position: absolute;
    margin-left: 48px;
    height: 100%;
    align-items: center;
  }

  .eagles-logo {
    background: url("/src/assets/icons/eagles.png") no-repeat center;
    display: block;
    position: absolute;
    left: 15px;
    width: 286px;    
    height: 60px;
    z-index: -1;
  }

  .cifropol-logo {
    display: block;
    width: 122px;
    height: 26px;
  }

  .brand-logo {
    background: url("/src/assets/icons/logo.png") no-repeat center;
    display: block;
    width: 62px;
    height: 38.3px;    
  }

  svg {
    width: 100%;
  }

  a {
    display: inline-block;
    height: 60px;
    margin-top: 0;
    width: 180px;
  }

  h1 {
    color: $header-font-color;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #eef3f8;
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  .pr-1 {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1215px) {
  .header hgroup {
    display: none;
  }
}
