@import "/src/styles/header.scss";

.header {
  .left-part {
    float: left;
  }
  .eagles-logo {
    background: url("/src/assets/icons/eagles.png") no-repeat center;
    display: block;
    height: 60px;
    left: 63.5px;
    position: absolute;
    width: 286px;
  }

  .cifropol-logo {
    display: block;
    height: 26px;
    left: 48px;
    position: absolute;
    top: 17px;
    width: 122px;
  }

  .brand-logo {
    background: url("/src/assets/icons/logo.png") no-repeat center;
    display: block;
    height: 38.33px;
    left: 180px;
    position: absolute;
    top: 11px;
    width: 62px;
  }

  svg {
    width: 100%;
  }

  a {
    display: inline-block;
    height: 60px;
    margin-top: 0;
    width: 180px;
  }

  h1 {
    color: $header-font-color;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: $header-font-color;
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  hgroup {
    margin-left: 252px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 1215px) {
  .header hgroup {
    display: none;
  }
}
