
@import "/src/styles/header.scss";
.header {
  .header-btn {
    display: flex;
    box-sizing: content-box;
    height: 60px;
    min-width: 60px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .right-part {
    float: right;
    display: inline-flex;
  }

  .wrap {
    display: inline-flex;
  }

  .btn-with-border {
    border-left: 1px solid $header-btn-border-color;
  }

  .mr48 {
    margin-right: 48px;
  }
}

@media screen and (max-width: 985px) {
  .header .btn-with-border {
    display: none;
  }
}
