
@import "/src/styles/header.scss";
.header {
  .header-btn {
    display: inline;
    height: 60px;
    overflow: hidden;
    top: 0;
    min-width: 60px;
    box-sizing: content-box;
  }

  .btn-with-border {
    border-left: 1px solid $header-btn-border-color;
  }
}

@media screen and (max-width: 985px) {
  .header .btn-with-border {
    display: none;
  }
}
