@charset "utf-8";
@font-face {
  font-family: PT Sans;
  src: url('./public/fonts/PTSans-Regular.ttf');
}

#footer {
  color: #a1b0b6;
  font-family: PT Sans;
  padding: 20px 0;
  text-align :center;
}
